<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ path('lessons_list') }}" class="navbar-brand">
                        <b class=" text-info"><span class="glyphicon glyphicon-education"></span> {{ app.request.host|replace({'www.': ''}) }}</b>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="{{ path('lessons_list') }}"><i class="glyphicon glyphicon-headphones"></i> Luyện nghe</a></li>
                        {#<li class=""><a href="{{ path('guidance') }}">Hướng dẫn</a></li>#}
                        {#<li class=""><a href="{{ path('speaking') }}">Học nói</a></li>#}
                        <li class=""><a href="{{ path('leader_list') }}"><i class="glyphicon glyphicon-th-list"></i> Xếp hạng</a></li>
                    </ul>

                    <ul class="{% if not app.user %}hidden {% endif %}nav navbar-nav navbar-right js-navbar-logged-in">
                        <li class="">
                            <a href="#"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Tài khoản <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('user_progress') }}">Thống kê</a></li>
                                <li><a href="">Đổi mật khẩu</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('security_logout') }}">Thoát</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="{% if app.user %}hidden {% endif %}nav navbar-nav navbar-right js-navbar-not-logged-in">
                        <li><a href="{{ path('security_login') }}" class="js-auth-btn"> <i class="glyphicon glyphicon-log-in"></i> Đăng nhập</a></li>
                        <li><a href="{{ path('user_register') }}" class="js-auth-btn"><i class="glyphicon glyphicon-edit"></i> Đăng kí</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>