{% set columnPerPage = 3 %}
{% set perColumn = lessons|length/columnPerPage %}
{% for lessons in lessons|batch(perColumn) %}
    <div class="col-sm-4 js-lesson-list" data-category-slug="{{ category.slug }}" data-page="{{ page|default(1) }}">
        <ul class="list-group">
        {% for lesson in lessons %}
            {% set times = lesson.numberOfTimesDone %}

            {% if times and lesson.wasSaved %}
                {% set class = 'star-' ~ times %}
                {% set title = 'Đang làm lần ' ~ (times + 1) ~ '.' %}
            {% elseif times and not lesson.wasSaved %}
                {% set class = 'star-' ~ times ~ ' ' %}
                {% set title = 'Đã làm ' ~ times ~ ' lần.' %}
            {% elseif not times and lesson.wasSaved %}
                {% set class = '' %}
                {% set title = 'Đang làm lần đầu.' %}
            {% else %}
                {% set title = '' %}
                {% set class = '' %}
            {% endif %}

            {% if times > 5 %}
                {% set class = 'star-5' %}
            {% endif %}

            <li class="{{ times ? 'done ' : '' }}{{ lesson.wasSaved ? 'saved ' : '' }}list-group-item text-left">
                <a href="{{ path('app.lesson.show', {'slug': lesson.slug}) }}"
                    title="{{ lesson.name }}"
                    class="lesson-name">
                    <span class="label label-info ">{{ lesson.position }}</span>
                    {{ lesson.name }}
                </a>
                <span class="glyphicon glyphicon-star{{ lesson.wasSaved ? '-empty' : '' }} star {{ class }}"
                      title="{{ title }}"></span>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
