{% set columnPerPage = 3 %}
{% set perColumn = lessons|length/columnPerPage %}
{% for lessons in lessons|batch(perColumn) %}
    <div class="col-sm-4 js-lesson-list" data-category-slug="{{ category.slug }}" data-page="{{ page|default(1) }}">
        <ul class="list-group">
        {% for lesson in lessons %}
            {% set times = lesson.numberOfTimesDone %}

            {% if times and lesson.wasSaved %}
                {% set classes = 'done done-' ~ times ~ ' saved ' %}
                {% set title = 'Đang làm lần ' ~ (times + 1) ~ '.' %}
            {% elseif times and not lesson.wasSaved %}
                {% set classes = 'done done-' ~ times ~ ' ' %}
                {% set title = 'Đã làm ' ~ times ~ ' lần.' %}
            {% elseif not times and lesson.wasSaved %}
                {% set classes = 'saved ' %}
                {% set title = 'Đang làm lần đầu.' %}
            {% else %}
                {% set title = '' %}
                {% set classes = '' %}
            {% endif %}

            <li class="{{ classes }}list-group-item text-left">
                <a href="{{ path('lessons_show', {'categorySlug': lesson.category.slug, 'position': lesson.position}) }}"
                    title="{{ lesson.name }}"
                    class="lesson-name">
                    <span class="label label-info ">{{ lesson.position }}</span>
                    {{ lesson.name }}
                </a>
                <span class="glyphicon glyphicon-star{{ lesson.wasSaved ? '-empty' : '' }} star"
                      title="{{ title }}"></span>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}