<div class="well sentences-wrapper js-sentences-wrapper">
    {% for sentence in lesson.sentences %}
        <div class="js-sentence{{ sentence.wasSaved ? ' saved done' : '' }}"
             data-sentence-id="{{ sentence.id }}"
             data-sentence-nice-answer="{{ sentence.wasSaved ? '' : sentence.content }}"
             data-sentence-json-answer="{{ sentence.wasSaved ? '' : sentence.jsonContent|json_encode }}">
            <button class="btn btn-default js-play-audio-btn" type="button">
                <i class="glyphicon glyphicon-volume-up"></i>
                <audio class="hidden">
                    <source src="{{ asset(sentence.audioPath) }}">
                </audio>
            </button>

            <div class="input-answer-wrapper">
                <input class="form-control js-input"
                       placeholder="{{ sentence.position ~ '.' }}"
                       tabindex="{{ sentence.position }}"
                       value="{{ sentence.wasSaved ? sentence.content : '' }}">
                <p class="text-left result js-result"></p>
            </div>

            <button class="btn btn-default js-check-answer-btn" type="button">
                <i class="glyphicon glyphicon-{{ sentence.wasSaved ? 'ok' : 'send' }} check-btn-icon"></i>
            </button>
        </div>
    {% endfor %}
</div>
