{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-xs-12">
        <h3>Register</h3>

        <div>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
            {% endfor %}
        </div>

        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ dump(form_errors(form)) }}
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.username) }}
            </div>

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-block btn-lg btn btn-success"/>
                </div>
                <div class="col-sm-6">
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-block btn-lg btn-link" id="js-btn-show-login-form">Login</a>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>