{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h3>{{ 'form.change_password'|trans }}</h3>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg">{{ 'form.submit_change_password'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}