{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="row text-center">
    {% if progressList %}
        <div class="col-xs-12">
            <h3>Thống kê</h3>
        </div>
        <table class="table">
            <thead>
            <tr class="row text-bold">
                <td class="col-sm-2 col-xs-3">Ngày</td>
                <td class="col-sm-1 col-xs-2">Điểm</td>
                <td class="col-sm-9 col-xs-6">%</td>
            </tr>
            </thead>
            <tbody>
            {% for progress in progressList %}
                <tr class="row">
                    <td class="col-sm-2">{{ progress.date|date('d-m-Y') }}</td>
                    <td class="col-sm-1">{{ progress.point }}</td>
                    <td class="col-sm-9">
                        <div class="progress">
                            <div class="{% if loop.index == 1 %}active{% else %}progress-bar-success{% endif %} progress-bar progress-bar-striped"
                                 role="progressbar"
                                 aria-valuenow="{{ progress.percentage }}"
                                 aria-valuemin="0" aria-valuemax="100"
                                 style="width:{{ progress.percentage }}%">
                                {{ progress.percentage }}%
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>Bạn chưa học bài nào!</h4>
    {% endif %}
</div>
{% endblock %}