<div class="well">
    <div class="row text-center">
        <div class="col-xs-12">
            <div class="form-group">
                <h4 class="text-muted lesson-name">{{ lesson.position ~ '. ' ~ lesson.name }}</h4>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-block btn-success update-user-progress js-update-user-progress"
                        data-target="#authModal">
                    Tạm lưu
                    <i class="glyphicon glyphicon-refresh glyphicon-spin"></i>
                    <span class="glyphicon glyphicon-check"></span>
                </button>
            </div>
            <div class="form-group row">
                {% set class = 'col-sm-12' %}
                {% if lesson.previousLesson and lesson.nextLesson %}
                    {% set class = 'col-sm-6' %}
                {% endif %}
                {% if lesson.previousLesson %}
                    <div class="{{ class }} form-group">
                        <a href="{{ path('lessons_show', {'categorySlug': lesson.category.slug, 'position': lesson.previousLesson.position}) }}" class="text-muted js-previous-lesson-link"><button class="btn btn-block">Bài {{ lesson.previousLesson.position }}</button></a>
                    </div>
                {% endif %}
                {% if lesson.nextLesson %}
                    <div class="{{ class }} form-group">
                        <a href="{{ path('lessons_show', {'categorySlug': lesson.category.slug, 'position': lesson.nextLesson.position }) }}" class="text-muted js-next-lesson-link"><button class="btn btn-block">Bài {{ lesson.nextLesson.position }}</button></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>