{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        {% if app.user %}
            {% if savedLessons|length > 0 or doneLessons|length > 0 %}
            <div class="col-sm-4 col-md-3">
                <div class="category-wrapper">
                    <h3 class="category-name">Bài đã lưu<small class="glyphicon glyphicon-menu-up toggle-lessons"></small></h3>
                    <div class="lessons-wrapper">
                        {% for lesson in savedLessons %}
                            <p>
                                <a href="{{ path('lessons_show', {'categorySlug': lesson.category.slug, 'position': lesson.position}) }}">
                                    {{ lesson.name }}
                                </a>
                            </p>
                        {% endfor %}
                    </div>
                </div>

                <div class="category-wrapper">
                    <h3 class="category-name">Bài đã làm<small class="glyphicon glyphicon-menu-up toggle-lessons"></small></h3>
                    <div class="lessons-wrapper">
                        {% for lesson in doneLessons|reverse %}
                            <p>
                                <span>{{ lesson.timesHasDone }} -- </span>
                                <a href="{{ path('lessons_show', {'categorySlug': lesson.category.slug, 'position': lesson.position}) }}">{{ lesson.name }}</a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {{ '<div class="col-sm-8 col-md-9">' }}
            {% endif %}
        {% else %}
            <div class="col-xs-12">
        {% endif %}

            <div class="row">
                {% for category in categories %}
                    <div class="category-wrapper">
                        {% if category.lessons|length > 0 %}
                            <h3 class="category-name category-name-mg">{{ category.name }}<small class="glyphicon glyphicon-menu-up toggle-lessons"></small></h3>
                        {% endif %}

                        <div class="lessons-wrapper">
                            {% for lessons in category.lessons|batch(10) %}
                                <div class="col-sm-4 {% if loop.index > 3 %}hidden{% else %}shown{% endif %}  page-{{ (loop.index/3)|round(0, 'ceil') }}">
                                    {% for lesson in lessons %}
                                        {% set fontWeight = "" %}
                                        {% if app.user %}
                                            {% if lesson.id in savedLessonIds %}
                                                {% set fontWeight = 'text-bold' %}
                                            {% elseif lesson.id in doneLessonIds %}
                                                {% set fontWeight = 'text-muted' %}
                                            {% endif %}
                                        {% endif %}
                                        <p>
                                        <a
                                            href="{{ path('lessons_show', {'categorySlug': category.slug ,'position': lesson.position}) }}"
                                            title="{{ lesson.name }}"
                                            class="{{ fontWeight }}"
                                        >
                                            {{ lesson.position }}. {{ lesson.name }}
                                        </a>
                                        </p>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                        <div class="col-xs-12">
                            {% set totalLessons = category.lessons|length %}
                            {% set totalPages = (totalLessons/30)|round(0, 'ceil') %}
                            <ul class="pagination">
                                {% for i in 1..totalPages if totalPages > 1%}
                                    <li class="{% if i == 1 %}active{% endif %}">
                                        <a href="#" class="page">{{ i }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function showPage($button) {
            var $pageWrapper = $button.closest('.category-wrapper');
            $pageWrapper.find('.shown').removeClass('shown').addClass('hidden');

            var pageNum = $button.html();
            $pageWrapper.find('.page-'+pageNum).removeClass('hidden').addClass('shown');

            $pageWrapper.find('li.active').removeClass('active');
            $button.closest('li').addClass('active');
        }
        
        $(document).ready(function () {
            $('.pagination a').on('click', function (e) {
                e.preventDefault();
                showPage($(this));
            });

            $('.toggle-lessons').on('click', function () {
                $toggleButton = $(this);
                $toggleButton.toggleClass('flip');
                $wrapper = $toggleButton.closest('.category-wrapper');
                $wrapper.find('.lessons-wrapper').slideToggle();
                $wrapper.find('.pagination').toggle();
            });
        });
    </script>
{% endblock %}